# Supabase -> Settings -> API dan oling
# .env.example faylini .env deb nusxalang va to'ldiring

VITE_SUPABASE_URL=https://XXXXXXXXXXXX.supabase.co
VITE_SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
