# Supabase -> Settings -> API dan oling
# .env.example faylini .env deb nusxalang va to'ldiring

VITE_SUPABASE_URL=https://qytmlumlpmgmjvsvdvhm.supabase.co
VITE_SUPABASE_KEY=sb_publishable_jKMMGiiMS1HuboDRMTHLYA_zggUPN54